html{
	font-family: Tahoma, sans-serif;
	background-color: darkslategray;
}
body{
	margin: 0;
	color: darkslategray;
}
header{
	display: flex;
	font-size: 30px;
	color: darkslategray;
	background-color: darksalmon;
	padding: 1px 25px;
	border-radius: 0 0 25px 10px;
	margin-bottom: 100px;
	justify-content: space-between;
	align-items: center;
	
}
a{
	color: darksalmon;
}

.intro{
	background-color: turquoise;
	text-align: center;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	border-radius: 25px 10px;
}
.about-me{
	display: flex;
	margin: 100px 30px;
	align-content: stretch;
	justify-content: center;
	column-gap: 15px;
	

}
.about-me-img{
	padding: 15px;
	background-color: springgreen;
	border-radius: 10px 25px;
	align-items: center;
	justify-content: center;
	
}
.blog-post{
	color: seashell;
	text-align: center;
	width: 650px;
	margin: 0 auto;
}
#project-slider {
	overflow: hidden;
}
.slide{
	margin: 10px 30px;
	align-content: stretch;
	justify-content: center;
	column-gap: 15px;
}
:root {
	--animate-duration: 0.25s;
  }