html{
	font-family: Tahoma, sans-serif;
	background-color: darkslategray;
}
body{
	margin: 0;
}
header{
	font-size: 30px;
	color: darkslategray;
	background-color: darksalmon;
	padding: 1px 25px;
	border-radius: 0 0 25px 10px;
}